body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: rgba(232, 139, 71, 0.53);
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  background: rgb(193, 120, 24);
}

header, footer {
  line-height: 150px;
  background: rgb(40, 40, 40);
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background: rgb(60, 60, 60);
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 4;
  background: rgb(171, 50, 89);
  background-image: url(https://i.ytimg.com/vi/uTsMTEQYJEM/maxresdefault.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background: rgb(60, 60, 60);
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
